* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url(ducks.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* Style the header */
.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #04AA6D;
}

div.main_body {
  width: 70%;
  margin: 20px;
  float: left;
  padding: 10px;
}

div.column_left {
  float: left;
  padding: 10px;
  width: 20%;
  margin: 20px;
}

div.card {
  background-color: hsla(170, 19%, 67%, 0.888);
  /* background-color: rgb(202, 202, 202); */
  border-style: groove;
  border-color: rgb(169, 167, 167);
  padding: 20px;
  margin-top: 20px;
  opacity: 1.0;
}

p.indent {
  text-indent: 20px;
}

div.image {
  content:url(thats_me.PNG);
  position: center;
  opacity: 1.0;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column_left, .main_body {
    width: 100%;
  }
}